<!DOCTYPE html>
<html>

   <head>
      <title>Text Input Control</title>
   </head>
	
   <body>
      <form >
         Voucher <input type = "text" name = "Voucher" />
         <br>
         Amount: <input type = "text" name = "Amount" />
         <br>
         Start date: <input type = "datetime-local" name = "Start Date" />
         <br>
         End date: <input type = "datetime-local" name = "End Date" />
      </form>
      <button type="submit" value="Submit">Submit</button>
   </body>
	
</html>